/*Couleur fond page hors index*/
body{
     background-color: #0c2342;
     font-family: 'Source Sans Pro', sans-serif;
     max-width: 1750px;
margin-left: auto;
margin-right: auto;
}

/*h1*/

.h1{
     padding-left:130px;
     /*text-shadow: 5px 2px 5px #0c2342;*/

}

.minicarte{
     float:left;
     
}
/*Fond header*/

header{background-color:#ded9d1;
     border-radius:10px;
     padding:1em 1em;
     margin:auto;
     font-family:'Raleway', sans-serif;
     font-size:larger;
  }
  /*Fond tous les footers*/
     
footer{
     background-color:#89909d7d;
     max-width:1750px;
     border-radius:10px;
     padding-left: 10px;
}

/*Menu nav*/

.listemenu{
     list-style-type:none;
     margin:0;
     padding:0;
     overflow:hidden;
     background-color:#414d61;
     border-radius:10px;
     min-width:1750px;
     font-family:'Raleway', sans-serif;
}

.nav{
     float:left;
     border-right:1px solid #f59516;
     font-size:large;
     text-align:center;
} 
 
.nav a{
     display:inline-block;
     color:#f3b131;
     text-align:center;
     padding:14px 16px;
     text-decoration:none;
}
 
 /* Change the link color to #111 (black) on hover */

 .nav a:hover{
     background-color:#596375;
}

 .Active{
     background-color:#89909d;
}

/*Page index*/
/*Fond page index*/

.fond{
     background-image:url(../photo/fondindex.png);
     background-repeat:no-repeat;
     height:100vh;
     background-size:cover;
     text-align:center;
     padding:auto;
     min-width:1750px;
     max-width:1750px;
     min-height:984px;
     max-height:984px;
     position:absolute;
     border-radius:10px;
}

/*Boutons carte index */

button{
     height: 20px;
     width:20px;
     background-color:#ffc32c;
     border-radius:50%;
     border-style:none;
     text-align:left;
     overflow:hidden;
     opacity:0.1;
     font-family:'Satisfy',cursive;
     text-decoration:none;
     line-height: 23px;
     padding:1px 0px 0px 3.5px;
}

button a{
     text-decoration:none;
     color:#0c2342;
}

/*Bouton index deja visite*/

button a:visited{
     color: #0c2342;
}

/*bouton vers intro */

.button0{
     position:absolute;
     top:82.3%;
     left:15.55%;
     padding:1px 0px 0px 4.1px;
}

/*Bouton vers Cf2m*/

.button1{
     position:absolute;
     top:72.3%;
     left:34.45%;
     z-index:auto;
     padding:2px 1px 0px 1px;
}

/*Bouton vers interview*/

.button2{
     position:absolute;
     top:56.5%;
     left:49.5%;
     z-index:auto;
     padding:1px 0px 1px 1.6px;

}

/*bouton vers exposition*/

.button3{
     position:absolute;
     top:36.4%;
     left:51.3%;
     z-index:auto;
     padding:0px 0px 1px 3.5px;
}

/*bouton vers galerie*/

.button4{
     position:absolute;
     top:23.7%;
     left:64.4%;
     padding:1px 0px 0px 3.4px;
}


/*bouton vers ma conclusion */

.button5{
     position:absolute;
     top:24.8%;
     left:79.7%;
     padding:0.5px 0px 0.8px 3.5px;
}

/*Survol boutons */

button:hover{ 
     background-color:#f59516;
     cursor:pointer;
     transform:scale(2);
     opacity:1;
     text-align:left;
}

/* body expo*/

#bodyexpo{max-width: 1750px;
}

/*page exposition header*/

.headexpo{
     background-color:#ded9d1;
     border-radius:10px;
     padding:1em 1em;
     font-family:'Raleway', sans-serif;
     font-size:larger;
}


/*Fondexpo*/

.fondexpo{
     background-image:url(../photo/fondbodyexpo.png);
     background-size:cover;
     max-width:1750px;
}


/* page exposition main */

.expomain{
     border-radius:10px;
     padding:1em 1em;
     margin:auto;
     max-width:1200px;
     background-color:#89909da6;
}

/*.exposection disposition*/

.exposection{
     display:flex;
     flex-direction:column;
     align-items:stretch;
     z-index:1;
}

/*Image expo*/

.imageexpo{float: left;
     margin-top: 8px;

}

article{
     border-radius:10px;
     background-color:#d0d2d8d9 ;
     padding:10px 50px;
     align-items:center;
     margin-bottom:50px;
     font-size:medium;
     font-weight:300;
     line-height:1.5em;
}

/*Comportement logo eb!*/

br+a{
     float: left;

}

/* espace article phto*/

article img{
     margin-right:30px;
}

/* Taille 1ere lettre article*/

.lettrearticle{
     font-size:x-large;
     float:left;
     font-family:'Raleway', sans-serif;

}


/*Page intro*/

h2 a{
     text-decoration:none;
     color:#0c2342;
}


h2 a:visited{
     color:#0c2342;
}


.bodyintro{
     display:flex;
     margin-top:350px;
     margin-left:25%;
     margin-right:25%;
     align-content:flex-start;
     font-family:'Raleway', sans-serif;
     font-weight:500;
}

.fondintro{
     background-image: url(../photo/fond_intro.png);
     padding:30px;
     border-radius:10px;
     text-align:center;
}


.pageintro{
     width:400px;
     height:250px;
     max-width:1100px;
     align-content:flex-start;
     padding:30px;
}


/*Page interview*/

#maininterview{
     background-image:url(../photo/fondinterview.png);
     border-radius:10px;
     background-repeat:no-repeat;
     background-size: cover;
     min-width:1750px;
     max-width: 1750px;
     min-height: 1163px;
     max-height: 1163px;
}

.sectioninterview{
     display:flex;
     flex-direction:column;
     justify-content:flex-start;
}


.articleinterview{
     max-width:1200px;
}


.articleliens{
     max-width:1200px;
}

.articleliens a:link{
     text-decoration: none;
}
.articleliens a:visited{
     color: #0c2342;
}



/*Page galerie*/

#galerie{
     display:flex;
     justify-content:space-around;
     flex-direction:column;
     align-items:center;
}


.articlegalerie{
     max-width:1200px;
     text-align:center;
}

.maingalerie{
     background-image:url(../photo/fondgalerie3.png);
     max-width:1750px;
     background-size:cover;
     background-repeat:no-repeat;
     min-width:1750px;
     border-radius:10px;
}

/*comportement galerie*/

img{
     max-width:100%}

.slider_focus{
     max-width:1200px;
     margin:2rem auto;
}

	
.slider_focus ul{
     display:flex;
     padding-bottom:66.67%;/* ratio pour le responsive */
     position:relative;
     overflow:hidden;
     list-style-type:none;
     margin:0;
}


.slider_focus ul li a img{
     flex:1;/*les photos occupent la même place selon la largeur du conteneur*/
     padding:.5rem;
}


.slider_focus ul li span img{
     position:absolute;
     bottom:0;
     left:-100%;
     opacity:0;
     transition:all .6s
}



.slider_focus ul li:focus-within span img{
	left:85px;
     opacity:1;
}

/*Page conclusion*/

#mainconclu{
     background-image:url(../photo/fondconclu3.png);
     background-size:auto;
     max-width:1750px;
     max-height:1600px;
     min-width:1750px;
     min-height:1600px;
     background-repeat:no-repeat;
     border-radius:10px;
     display:flex;
     flex-direction: column;
}


.sectionconclusion{
     max-width:1200px;
     float:left;
}


.footerconclu{
     border-radius:10px;
     max-width:1740px;
     min-width:1740px;
}


/*#merci{ 
     background-color:#d0d2d8d9;
     max-width:250px;
     padding:30px;
     margin-left:150px;
     border-radius:10px;
     max-height:350px;
     margin-top:652px;
}*/